nav {
    background-color: #C62221;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.nav-wrapper .input-field input[type=search] {
    color: #444;
}

nav .input-field label i {
    color: #444;
}

.no-break {
    white-space: nowrap;
}

.small.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.tabs .indicator { display: none; }
.tabs .tab a.active { border-bottom: 2px solid white; }

input[id="search"] {
    height: 45px !important; 
    margin-top: 10px;
    border-radius: 5px;
}
.search-input{
    background-color: white ;
    height: 45px !important; 
    margin-top: 10px;
    border-radius: 5px;
}
nav .input-field label {
    top: -8px;
    left: 0;
}

.logo {
    margin-top: 0.6em;
}

a:hover {
    text-decoration: underline;
}